pyscard>=1.9.9 # Éviter d’écrire du C, API stable, portable, Accès brut APDU
PyKCS11>=1.5.18 # Strictement local ?

# Install with: python3 -m pip install -r requirements.txt

# Auditer 
# sudo tcpdump -i any
# strace -f -e trace=network python main.py
